<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="umn.ac.keadaanudara">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeadaanUdara">
        <activity
            android:name=".popup_delete"
            android:exported="false" />
        <activity
            android:name=".Main.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Main.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Main.Feedback"
            android:exported="true"
            android:parentActivityName=".Main.MainActivity"></activity>
        <activity
            android:name=".Main.LocationActivity"
            android:exported="false"
            android:parentActivityName=".Main.MainActivity"></activity>
        <activity android:name=".Main.InputRepetitive" />
        <activity android:name=".Main.InputOneTimeActivity" />
        <activity android:name=".Main.ListActivity" />
    </application>

</manifest>